@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Briem+Hand:wght@100..900&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}
